<!-- Experience Section -->
    <section id="organization" class="bg-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">Organization</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline"> 
                        <li class="timeline">
                            <div class="timeline-image">
                                <a href="http://sa2015.siggraph.org/en/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_asia_2015.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">November 2015</h6>
                                    <h6 class="places">Kobe, Japan</h6>
                                    <h4>ACM Siggraph Asia</h4>
                                    <h4 class="subheading">Student Volunteer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Helped support the conference</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                What's Siggraph?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://paris.siggraph.org/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/paris_siggraph.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">October 2015 - Today</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>Paris ACM Siggraph - French Chapter</h4>
                                    <h4 class="subheading">Board Member</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Elected as a member of the new Board of the French Chapter of ACM Siggraph. Deeper involvement in the association.</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                What's Siggraph?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://s2015.siggraph.org/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_2015.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">August 2015</h6>
                                    <h6 class="places">Los Angeles, United States</h6>
                                    <h4>ACM Siggraph</h4>
                                    <h4 class="subheading">Student Volunteer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Helped support the conference</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                What's Siggraph?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>                                           
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://sa2014.siggraph.org/en/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_asia_2014.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">December 2014</h6>
                                    <h6 class="places">Shenzhen, China</h6>
                                    <h4>ACM Siggraph Asia</h4>
                                    <h4 class="subheading">Student Volunteer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Helped support the conference</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                What's Siggraph?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://s2014.siggraph.org/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_2014.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">August 2014</h6>
                                    <h6 class="places">Vancouver, Canada</h6>
                                    <h4>ACM Siggraph</h4>
                                    <h4 class="subheading">Student Volunteer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Helped support the conference</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                What's Siggraph?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>