<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">Education</h2>
                    <!-- <h3 class="section-subheading text-light-grey"></h3> -->
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.epita.fr/international/">
                                    <img class="img-circle img-responsive img-glow" src="../img/education/epita.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">September 2008 - April 2015</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>EPITA</h4>
                                    <h4 class="subheading">Master’s Degree in Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted-left">
                                        <li>Major Advanced Computing</li>
                                        <ul>
                                            <li>Algorithmic</li>
                                            <li>Calculus</li>
                                            <li>
                                                Image Processing
                                                <a href="#project_2-barcodesdetection" class="portfolio-box" data-toggle="modal">
                                                    <i class="fa fa-caret-square-o-right"></i>
                                                    Project
                                                </a>
                                            </li>
                                            <li>Image Synthesis &amp; Ray Tracing</li>
                                            <li>Meta-heuristics</li>
                                            <li>
                                                Machine Learning
                                                <a href="#project_3-signaturesreco" class="portfolio-box" data-toggle="modal">
                                                    <i class="fa fa-caret-square-o-right"></i>
                                                    Project
                                                </a>
                                            </li>
                                            <li>Multi-Agent Systems</li>
                                            <li>...</li>
                                        </ul>
                                        <li>
                                            <a href="#project_5-turtlecropper" class="portfolio-box" data-toggle="modal">
                                                <i class="fa fa-caret-square-o-right"></i>
                                                Graduation project
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://english.uos.ac.kr/">
                                    <img class="img-circle img-responsive img-glow" src="../img/education/university_of_seoul.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">February 2011 - July 2011</h6>
                                    <h6 class="places">Seoul, South Korea</h6>
                                    <h4>The University of Seoul</h4>
                                    <h4 class="subheading">Exchange Semester</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Major Computer Science</li>
                                        <ul>
                                            <li>Engineering Mathematics</li>
                                            <li>Discrete Mathematics</li>
                                            <li>Compilers</li>
                                            <li>Information Systems Management</li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>