<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">Experience</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline">
                            <div class="timeline-image">
                                <a href="http://www.mikrosimage-animation.eu/en">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/mikros_image_animation.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">November 2016 - Today</h6>
                                    <h6 class="places">Montréal, Canada</h6>
                                    <h4>Mikros Image Animation</h4>
                                    <h4 class="subheading">Animation Pipeline TD - Software Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Pipeline development</li>
                                        <li>RV, Maya, Tractor, Shotgun</li>
                                        <li>Python, MU, C++, Bash/Shell</li>
                                    </ul>
                                </div>
                            </div>
                        </li> 
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.mikrosimage.eu/english/">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/mikros_image.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">June 2015 - October 2016</h6>
                                    <h6 class="places">Levallois-Perret (Paris), France</h6>
                                    <h4>Mikros Image</h4>
                                    <h4 class="subheading">VFX Pipeline TD - Sofware Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted-left">
                                        <li>Pipeline development</li>
                                        <li>Alembic, Maya, USD, Tractor, Arnold, Nuke, Shotgun, Katana, Fabric Engine</li>
                                        <li>Python, C++, Bash/Shell</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.supamonks.com/">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/supamonks_studio.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">May 2014 - November 2014</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>SupamonkS Studio</h4>
                                    <h4 class="subheading">Intern - R&amp;D Department</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Development of a software for an hybrid 2D &amp; 3D animation render (GUI + Core).</li>
                                        <li>From a 3D animation buffer, allows to draw in 2D and interpolates drawings between key frames. Then exports a 2D animation buffer for compositing.</li>
                                        <li>
                                            <a href="#project_6-tracy" class="portfolio-box" data-toggle="modal">
                                                <i class="fa fa-caret-square-o-right"></i>
                                                TRACY Project
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.aldebaran.com/en">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/aldebaran_robotics.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">August 2012 - January 2013</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>Aldebaran Robotics</h4>
                                    <h4 class="subheading">Intern - «Studio» Department</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Development of behaviors and applications for the NAO robot :</li>
                                        <ul>
                                            <li>NAO Horoscope (French/English/Chinese/Japanese)</li>
                                            <li>NAO Translate (French/English/Japanese)</li>
                                            <li>NAO Funny Facts</li>
                                            <li>...</li>
                                        </ul>
                                        <li>Co-managed a dance show of several NAO robots</li>
                                        <li>Tested new interface for robot’s dialogue</li>
                                        <li>
                                            <a href="http://bit.ly/WHATS-NAO">
                                                <i class="fa fa-caret-square-o-right"></i>
                                                What's NAO?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>