<!-- About Me Section -->
    <section id="about-me">
        <div class="container">
            <div class="row">
                <div class="ccol-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">About me</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <i class="fa fa-4x fa-child wow bounceIn text-primary"></i>
                    <h3>Who I am</h3>
                    <div class="mini-block wow fadeIn txt-zoom">
                        <i class="fa fa-quote-left text-primary"></i>
                        Creative soul in scientific mind. I like to create things whether it is code or DIY, and balance Art and Technology. As a grown-up kid, I long to work with people sharing the same passion for animation and vfx.
                        <i class="fa fa-quote-right text-primary"></i>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="text-center">
                    <div class="column-layout">
                        <i class="fa fa-4x fa-heart-o wow bounceIn text-primary"></i>
                        <h3>What I love</h3>
                         <ul class="img-list">
                            <li>
                                <img src="img/about-me/travel.jpg" width="150" height="150" />
                                <span class="text-content"><span>Travelling</span></span>
                            </li>
                            <li>
                                <img src="img/about-me/cook.jpg" width="150" height="150" />
                                <span class="text-content"><span>Cooking</span></span>
                            </li>
                            <li>
                                <img src="img/about-me/theater.jpg" width="150" height="150" />
                                <span class="text-content"><span>Theater</span></span>
                            </li>
                            <li>
                                <img src="img/about-me/cinema.jpg" width="150" height="150" />
                                <span class="text-content"><span>Cinema</span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="column-layout">
                        <i class="fa fa-4x  fa-comments-o wow bounceIn text-primary"></i>
                        <h3>What I speak</h3>
                        <div align="center">
                            <div class="slide-btn">
                                <a class="first-link">
                                    French
                                </a>
                                <a>
                                    Native
                                </a>
                            </div>
                            <div class="slide-btn">
                                <a class="first-link">
                                    English
                                </a>
                                <a>
                                    Fluent
                                </a>
                            </div>
                            <div class="slide-btn">
                                <a class="first-link">
                                    Spanish
                                </a>
                                <a>
                                    Basic
                                </a>
                            </div>
                            <div class="slide-btn">
                                <a class="first-link">
                                    Korean
                                </a>
                                <a>
                                    Notions
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column-layout">
                        <i class="fa fa-4x fa-plane wow bounceIn text-primary"></i>
                        <h3>Where I've been</h3>
                            <div>
                                <iframe src="http://mapbuildr.com/frame/ns2vfc" frameborder="0" height="300" width="375"></iframe>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>