{% comment %}On récupère la langue en fonction de l'URL{% endcomment %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
{% assign locale = site.default_locale %}
{% endunless %}


<!DOCTYPE html>
<html lang="{{ locale }}">
    {% include head.html %}

    <body id="page-top" class="index">

        {% include fr/header.html %}
        {% include fr/experience.html %}
        {% include fr/organization.html %}
        {% include fr/education.html %}
        {% include fr/skills.html %}
        {% include fr/projects.html %}
        {% include fr/about-me.html %}
        {% include fr/contact.html %}
        {% include modals.html %}
        {% include js.html %}

    </body>
</html>