<!-- Header -->
<body id="background">
    <div class="intro">
        <div class="container">
            <div class="img-logo txt-logo">
            	<div class="wow pulse animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="1s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 300ms; -webkit-animation-iteration-count: infinite;">
        			<img class="txt-zoom" src="img/cb_logo_rond.png" alt="img/cb_logo_rond.png">
        		</div>
				<p class="text shadow">CarolineBeyne.com</p>
			</div>​
            <a href="/en" class="page-scroll btn btn-xl margin-50">English</a>
            <a href="/fr" class="page-scroll btn btn-xl margin-50">Français</a>
        </div>
    </div>
</body>