<!-- About Me Section -->
    <section id="about-me">
        <div class="container">
            <div class="row">
                <div class="ccol-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">A Propos</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <i class="fa fa-4x fa-child wow bounceIn text-primary"></i>
                    <h3>Qui suis-je</h3>
                    <div class="mini-block wow fadeIn txt-zoom">
                        <i class="fa fa-quote-left text-primary"></i>
                        Âme créative dans un esprit scientifique. J’aime créer que ce soit du code ou bricoler, et allier l’Art et la Technologie. Ayant gardé mon coeur d’enfant, j’aspire à travailler avec des personnes partageant la même passion pour l’animation et les effets spéciaux.
                        <i class="fa fa-quote-right text-primary"></i>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="text-center">
                    <div class="column-layout">
                        <i class="fa fa-4x fa-heart-o wow bounceIn text-primary"></i>
                        <h3>Ce que j'aime</h3>
                         <ul class="img-list">
                            <li>
                                <img src="../img/about-me/travel.jpg" width="150" height="150" />
                                <span class="text-content"><span>Voyager</span></span>
                            </li>
                            <li>
                                <img src="../img/about-me/cook.jpg" width="150" height="150" />
                                <span class="text-content"><span>Cuisiner</span></span>
                            </li>
                            <li>
                                <img src="../img/about-me/theater.jpg" width="150" height="150" />
                                <span class="text-content"><span>Théâtre</span></span>
                            </li>
                            <li>
                                <img src="../img/about-me/cinema.jpg" width="150" height="150" />
                                <span class="text-content"><span>Cinéma</span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="column-layout">
                        <i class="fa fa-4x  fa-comments-o wow bounceIn text-primary"></i>
                        <h3>Ce que je parle</h3>
                        <div align="center">
                            <div class="slide-btn">
                                <a class="first-link">
                                    Français
                                </a>
                                <a>
                                    Natale
                                </a>
                            </div>
                            <div class="slide-btn">
                                <a class="first-link">
                                    Anglais
                                </a>
                                <a>
                                    Courant
                                </a>
                            </div>
                            <div class="slide-btn">
                                <a class="first-link">
                                    Espagnol
                                </a>
                                <a>
                                    Basique
                                </a>
                            </div>
                            <div class="slide-btn">
                                <a class="first-link">
                                    Coréen
                                </a>
                                <a>
                                    Notions
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column-layout">
                        <i class="fa fa-4x fa-plane wow bounceIn text-primary"></i>
                        <h3>Où je suis allée</h3>
                            <div>
                                <iframe src="http://mapbuildr.com/frame/ns2vfc" frameborder="0" height="300" width="375"></iframe>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>