<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">Etudes</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.epita.fr/international/">
                                    <img class="img-circle img-responsive img-glow" src="../img/education/epita.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Septembre 2008 - Avril 2015</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>EPITA</h4>
                                    <h4 class="subheading">Diplôme d'Ingénieure en Informatique</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted-left">
                                        <li>Majeure Sciences Cognitives et Informatique Avancée</li>
                                        <ul>
                                            <li>Algorithmique</li>
                                            <li>Mathématiques avancées</li>
                                            <li>
                                                Traitement d'images
                                                <a href="#project_2-barcodesdetection" class="portfolio-box" data-toggle="modal">
                                                    <i class="fa fa-caret-square-o-right"></i>
                                                    Projet
                                                </a>
                                            </li>
                                            <li>Synthèse d'images &amp; Ray Tracing</li>
                                            <li>Méta-heuristiques</li>
                                            <li>
                                                Machine Learning
                                                <a href="#project_3-signaturesreco" class="portfolio-box" data-toggle="modal">
                                                    <i class="fa fa-caret-square-o-right"></i>
                                                    Projet
                                                </a>
                                            </li>
                                            <li>Systèmes multi-agents</li>
                                            <li>...</li>
                                        </ul>
                                        <li>
                                            <a href="#project_5-turtlecropper" class="portfolio-box" data-toggle="modal">
                                                <i class="fa fa-caret-square-o-right"></i>
                                                Projet de fin d'études
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://english.uos.ac.kr/">
                                    <img class="img-circle img-responsive img-glow" src="../img/education/university_of_seoul.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Février 2011 - Juillet 2011</h6>
                                    <h6 class="places">Séoul, Corée du Sud</h6>
                                    <h4>The University of Seoul</h4>
                                    <h4 class="subheading">Semestre d'échange</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Majeure Informatique</li>
                                        <ul>
                                            <li>Mathématiques pour l'ingénierie</li>
                                            <li>Mathématiques discrètes</li>
                                            <li>Compilateurs</li>
                                            <li>Management des systèmes d'informations</li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>