<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">Expérience</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://www.mikrosimage.eu">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/mikros_image.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Juin 2015 - Aujourd'hui</h6>
                                    <h6 class="places">Levallois-Perret (Paris), France</h6>
                                    <h4>Mikros Image</h4>
                                    <h4 class="subheading">VFX TD</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted-left">
                                        <li>Développement Pipeline</li>
                                        <li>Référente : Alembic - Fabric Engine - USD</li>
                                        <li>Sous-Référente : Maya - Tractor - Shotgun - Arnold</li>
                                    </ul>
                                </div>
                            </div>
                        </li>                        
                        <li class="timeline">
                            <div class="timeline-image">
                                <a href="http://www.supamonks.com/">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/supamonks_studio.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Mai 2014 - Novembre 2014</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>SupamonkS Studio</h4>
                                    <h4 class="subheading">Stage - Service R&amp;D</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Développement d’un logiciel pour un rendu d’animation 2D &amp; 3D hybride (Interface + Architecture logicielle).</li>
                                        <li>Charge un cache d’animation 3D, permet de dessiner en 2D et d’interpoler les dessins entre des images-clés. Exporte le cache d’animation 2D pour le traitement final.</li>
                                        <li>
                                            <a href="#project_6-tracy" class="portfolio-box" data-toggle="modal">
                                                <i class="fa fa-caret-square-o-right"></i>
                                                Projet TRACY
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.aldebaran.com/fr/">
                                    <img class="img-circle img-responsive img-glow" src="../img/experience/aldebaran_robotics.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Août 2012 - Janvier 2013</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>Aldebaran Robotics</h4>
                                    <h4 class="subheading">Stage - Service «Studio»</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-muted">
                                        <li>Développement de comportements et d’applications pour le robot NAO :</li>
                                        <ul>
                                            <li>NAO Horoscope (Français/Anglais/Chinois/Japonais)</li>
                                            <li>NAO Traducteur (Français/Anglais/Japonais)</li>
                                            <li>NAO VDM</li>
                                            <li>...</li>
                                        </ul>
                                        <li>Co-géré une représentation de danse de plusieurs robots</li>
                                        <li>Testé la nouvelle interface de dialogue des robots</li>
                                        <li>
                                            <a href="http://bit.ly/WHATS-NAO">
                                                <i class="fa fa-caret-square-o-right"></i>
                                                Qu'est-ce que NAO?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>