<!-- Experience Section -->
    <section id="organization" class="bg-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading txt-zoom wow zoomIn">Organisation</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline"> 
                        <li class="timeline">
                            <div class="timeline-image">
                                <a href="http://sa2015.siggraph.org/en/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_asia_2015.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Novembre 2015</h6>
                                    <h6 class="places">Kobe, Japan</h6>
                                    <h4>ACM Siggraph Asia</h4>
                                    <h4 class="subheading">Etudiante Volontaire</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Aider au bon déroulement de la conférence</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                Qu'est-ce que Siggraph ?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://paris.siggraph.org/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/paris_siggraph.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Octobre 2015 - Aujourd'hui</h6>
                                    <h6 class="places">Paris, France</h6>
                                    <h4>Paris ACM Siggraph - Chapitre Français</h4>
                                    <h4 class="subheading">Membre du Conseil d'Administration</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Elue en tant que membre du nouveau Conseil d'Administration du chapitre français d'ACM Siggraph. Engagement plus prononcé dans l'association.</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                Qu'est-ce que Siggraph ?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://s2015.siggraph.org/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_2015.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Août 2015</h6>
                                    <h6 class="places">Los Angeles, United States</h6>
                                    <h4>ACM Siggraph</h4>
                                    <h4 class="subheading">Etudiante Volontaire</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Aider au bon déroulement de la conférence</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                Qu'est-ce que Siggraph ?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>                                           
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="http://sa2014.siggraph.org/en/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_asia_2014.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Décembre 2014</h6>
                                    <h6 class="places">Shenzhen, China</h6>
                                    <h4>ACM Siggraph Asia</h4>
                                    <h4 class="subheading">Etudiante Volontaire</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Aider au bon déroulement de la conférence</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                Qu'est-ce que Siggraph ?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://s2014.siggraph.org/">
                                    <img class="img-circle img-responsive img-glow" src="../img/organization/siggraph_2014.png" alt="">
                                </a>
                            </div>
                            <div class="timeline-panel wow fadeIn">
                                <div class="timeline-heading">
                                    <h6 class="dates">Août 2014</h6>
                                    <h6 class="places">Vancouver, Canada</h6>
                                    <h4>ACM Siggraph</h4>
                                    <h4 class="subheading">Etudiante Volontaire</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul class="text-light-grey-left">
                                        <li>Aider au bon déroulement de la conférence</li>
                                        <li>
                                            <a href="http://en.wikipedia.org/wiki/SIGGRAPH" class="text-light-grey-left">
                                                <i class="fa fa-caret-square-o-right text-light-grey-left"></i>
                                                Qu'est-ce que Siggraph ?
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>