    <section id="skills" class="bg-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading-grey txt-zoom wow zoomIn">Compétences</h2>
                    <!-- <hr class="primary"> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="column-layout">
                        <div class="service-box">
                            <div class="text-white">
                                <i class="fa fa-4x fa-file-code-o wow bounceIn"></i>
                            </div>
                            <h3>Langages de programmation</h3>
                            <div class="text-light-grey wow fadeIn">
                                <p>C++</p>
                                <p>Python</p>
                                <p>Lua</p>
                                <p>Java</p>
                                <p>C</p>
                                <p>HTML5 / CSS3</p>
                                <p>Matlab</p>
                                <p>PostgreSQL</p>
                            </div>
                        </div>
                    </div>
                    <div class="column-layout">
                        <div class="service-box">
                            <div class="text-white">
                                <i class="fa fa-4x fa-terminal wow bounceIn" data-wow-delay=".1s"></i>
                            </div>
                            <h3>Outils</h3>
                            <div class="text-light-grey wow fadeIn">
                                <p>Visual Studio</p>
                                <p>Eclipse</p>
                                <p>Vim</p>
                                <p>Git</p>
                            </div>
                        </div>
                    </div>
                    <div class="column-layout">
                        <div class="service-box">
                            <div class="text-white">
                                <i class="fa fa-4x fa-puzzle-piece wow bounceIn" data-wow-delay=".2s"></i>
                            </div>
                            <h3>Bibliothèques</h3>
                            <div class="text-light-grey wow fadeIn">
                                <p>Qt / PyQt</p>
                                <p>Boost</p>
                                <p>Löve2D</p>
                                <p>OpenEXR</p>
                                <p>OpenCV</p>
                                <p>Alembic</p>
                                <p>OpenNI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>